# Task for Today  

***

## Lyft/Uber Price Prediction  

Given *data about Lyft and Uber rides*, let's try to predict the **price** of a given ride.  
  
We will use a linear regression model to make our predictions.

# Getting Started

In [6]:
#importing libraries 
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression

In [35]:
# reading csv /datset files 
rides_df = pd.read_csv('/cab_rides.csv')
weather_df = pd.read_csv('/weather.csv')

In [36]:
rides_df

       distance cab_type  ...                            product_id          name
0          0.44     Lyft  ...                             lyft_line        Shared
1          0.44     Lyft  ...                          lyft_premier           Lux
2          0.44     Lyft  ...                                  lyft          Lyft
3          0.44     Lyft  ...                           lyft_luxsuv  Lux Black XL
4          0.44     Lyft  ...                             lyft_plus       Lyft XL
...         ...      ...  ...                                   ...           ...
90109      0.56     Uber  ...  8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a          Taxi
90110      0.56     Uber  ...  9a0e7b09-b92b-4c41-9779-2ad22b4d779d           WAV
90111      0.56     Uber  ...  6c84fd89-3f11-4782-9b50-97c468b19529         Black
90112      0.56     Uber  ...  6f72dfc5-27f1-42e8-84db-ccc7a75f6969        UberXL
90113      0.56     Uber  ...                                   NaN           NaN

[90114 rows x 10 columns]

In [37]:
rides_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90114 entries, 0 to 90113
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   distance          90114 non-null  float64
 1   cab_type          90114 non-null  object
 2   time_stamp        90114 non-null  int64
 3   destination       90114 non-null  object
 4   source            90114 non-null  object
 5   price             83024 non-null  float64
 6   surge_multiplier  90114 non-null  float64
 7   id                90114 non-null  object
 8   product_id        90113 non-null  object
 9   name              90113 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 6.9+ MB

In [39]:
#printing weaather dataset 
weather_df

       temp                 location  clouds  ...  time_stamp  humidity   wind
0     42.42                 Back Bay    1.00  ...  1545003901      0.77  11.25
1     42.43              Beacon Hill    1.00  ...  1545003901      0.76  11.32
2     42.50        Boston University    1.00  ...  1545003901      0.76  11.07
3     42.11                   Fenway    1.00  ...  1545003901      0.77  11.09
4     43.13       Financial District    1.00  ...  1545003901      0.75  11.49
...     ...                      ...     ...  ...         ...       ...    ...
6271  44.72            North Station    0.89  ...  1543819974      0.96   1.52
6272  44.85  Northeastern University    0.88  ...  1543819974      0.96   1.54
6273  44.82            South Station    0.89  ...  1543819974      0.96   1.54
6274  44.78         Theatre District    0.89  ...  1543819974      0.96   1.54
6275  44.69                 West End    0.89  ...  1543819974      0.96   1.52

[6276 rows x 8 columns]

In [40]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6276 entries, 0 to 6275
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   temp        6276 non-null   float64
 1   location    6276 non-null   object
 2   clouds      6276 non-null   float64
 3   pressure    6276 non-null   float64
 4   rain        894 non-null    float64
 5   time_stamp  6276 non-null   int64
 6   humidity    6276 non-null   float64
 7   wind        6276 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 392.4+ KB

# Cleaning Ride Data

In [41]:
# printing rides data 
rides_df

       distance cab_type  ...                            product_id          name
0          0.44     Lyft  ...                             lyft_line        Shared
1          0.44     Lyft  ...                          lyft_premier           Lux
2          0.44     Lyft  ...                                  lyft          Lyft
3          0.44     Lyft  ...                           lyft_luxsuv  Lux Black XL
4          0.44     Lyft  ...                             lyft_plus       Lyft XL
...         ...      ...  ...                                   ...           ...
90109      0.56     Uber  ...  8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a          Taxi
90110      0.56     Uber  ...  9a0e7b09-b92b-4c41-9779-2ad22b4d779d           WAV
90111      0.56     Uber  ...  6c84fd89-3f11-4782-9b50-97c468b19529         Black
90112      0.56     Uber  ...  6f72dfc5-27f1-42e8-84db-ccc7a75f6969        UberXL
90113      0.56     Uber  ...                                   NaN           NaN

[90114 rows x 10 columns]

In [42]:
# Checking null values in rides dataset 
rides_df.isna().sum()

distance               0
cab_type               0
time_stamp             0
destination            0
source                 0
price               7090
surge_multiplier       0
id                     0
product_id             1
name                   1
dtype: int64

In [43]:
# dropping null values in the data set row wise
rides_df = rides_df.dropna(axis=0).reset_index(drop=True)

# Cleaning Weather Data

In [44]:
# printing weatther data 
weather_df

       temp                 location  clouds  ...  time_stamp  humidity   wind
0     42.42                 Back Bay    1.00  ...  1545003901      0.77  11.25
1     42.43              Beacon Hill    1.00  ...  1545003901      0.76  11.32
2     42.50        Boston University    1.00  ...  1545003901      0.76  11.07
3     42.11                   Fenway    1.00  ...  1545003901      0.77  11.09
4     43.13       Financial District    1.00  ...  1545003901      0.75  11.49
...     ...                      ...     ...  ...         ...       ...    ...
6271  44.72            North Station    0.89  ...  1543819974      0.96   1.52
6272  44.85  Northeastern University    0.88  ...  1543819974      0.96   1.54
6273  44.82            South Station    0.89  ...  1543819974      0.96   1.54
6274  44.78         Theatre District    0.89  ...  1543819974      0.96   1.54
6275  44.69                 West End    0.89  ...  1543819974      0.96   1.52

[6276 rows x 8 columns]

In [45]:
# checking null values in weather data 
weather_df.isna().sum()

temp             0
location         0
clouds           0
pressure         0
rain          5382
time_stamp       0
humidity         0
wind             0
dtype: int64

In [46]:
# filling null values in weather data 
weather_df = weather_df.fillna(0)

# Creating Average Weather DataFrame

In [47]:
weather_df

       temp                 location  clouds  ...  time_stamp  humidity   wind
0     42.42                 Back Bay    1.00  ...  1545003901      0.77  11.25
1     42.43              Beacon Hill    1.00  ...  1545003901      0.76  11.32
2     42.50        Boston University    1.00  ...  1545003901      0.76  11.07
3     42.11                   Fenway    1.00  ...  1545003901      0.77  11.09
4     43.13       Financial District    1.00  ...  1545003901      0.75  11.49
...     ...                      ...     ...  ...         ...       ...    ...
6271  44.72            North Station    0.89  ...  1543819974      0.96   1.52
6272  44.85  Northeastern University    0.88  ...  1543819974      0.96   1.54
6273  44.82            South Station    0.89  ...  1543819974      0.96   1.54
6274  44.78         Theatre District    0.89  ...  1543819974      0.96   1.54
6275  44.69                 West End    0.89  ...  1543819974      0.96   1.52

[6276 rows x 8 columns]

In [48]:
# Calculating the mean/Average value of each prperty location wise 
weather_df.groupby('location').mean()

                              temp    clouds  ...  humidity      wind
location                                      ...
Back Bay                 39.082122  0.678432  ...  0.764073  6.778528
Beacon Hill              39.047285  0.677801  ...  0.765048  6.810325
Boston University        39.047744  0.679235  ...  0.763786  6.692180
Fenway                   38.964379  0.679866  ...  0.767266  6.711721
Financial District       39.410822  0.676730  ...  0.754837  6.860019
Haymarket Square         39.067897  0.676711  ...  0.764837  6.843193
North End                39.090841  0.676730  ...  0.764054  6.853117
North Station            39.035315  0.676998  ...  0.765545  6.835755
Northeastern University  38.975086  0.678317  ...  0.767648  6.749426
South Station            39.394092  0.677495  ...  0.755468  6.848948
Theatre District         38.986711  0.677763  ...  0.767992  6.834302
West End                 38.983403  0.677247  ...  0.767266  6.816233

[12 rows x 7 columns]

In [49]:
avg_weather_df = weather_df.groupby('location').mean().reset_index(drop=False)
avg_weather_df = avg_weather_df.drop('time_stamp', axis=1)
avg_weather_df

                   location       temp    clouds  ...      rain  humidity      wind
0                  Back Bay  39.082122  0.678432  ...  0.007925  0.764073  6.778528
1               Beacon Hill  39.047285  0.677801  ...  0.008297  0.765048  6.810325
2         Boston University  39.047744  0.679235  ...  0.007738  0.763786  6.692180
3                    Fenway  38.964379  0.679866  ...  0.007343  0.767266  6.711721
4        Financial District  39.410822  0.676730  ...  0.008563  0.754837  6.860019
5          Haymarket Square  39.067897  0.676711  ...  0.008660  0.764837  6.843193
6                 North End  39.090841  0.676730  ...  0.008644  0.764054  6.853117
7             North Station  39.035315  0.676998  ...  0.008649  0.765545  6.835755
8   Northeastern University  38.975086  0.678317  ...  0.007358  0.767648  6.749426
9             South Station  39.394092  0.677495  ...  0.008310  0.755468  6.848948
10         Theatre District  38.986711  0.677763  ...  0.008405  0.767992  6.834302
11                 West End  38.983403  0.677247  ...  0.008657  0.767266  6.816233

[12 rows x 7 columns]

# Merging DataFrames

In [50]:
rides_df

       distance cab_type  ...                            product_id          name
0          0.44     Lyft  ...                             lyft_line        Shared
1          0.44     Lyft  ...                          lyft_premier           Lux
2          0.44     Lyft  ...                                  lyft          Lyft
3          0.44     Lyft  ...                           lyft_luxsuv  Lux Black XL
4          0.44     Lyft  ...                             lyft_plus       Lyft XL
...         ...      ...  ...                                   ...           ...
83018      1.63     Uber  ...  6c84fd89-3f11-4782-9b50-97c468b19529         Black
83019      1.63     Uber  ...  9a0e7b09-b92b-4c41-9779-2ad22b4d779d           WAV
83020      0.56     Uber  ...  9a0e7b09-b92b-4c41-9779-2ad22b4d779d           WAV
83021      0.56     Uber  ...  6c84fd89-3f11-4782-9b50-97c468b19529         Black
83022      0.56     Uber  ...  6f72dfc5-27f1-42e8-84db-ccc7a75f6969        UberXL

[83023 rows x 10 columns]

In [51]:
source_weather_df = avg_weather_df.rename(
    columns={
        'location': 'source',
        'temp': 'source_temp',
        'clouds': 'source_clouds',
        'pressure': 'source_pressure',
        'rain': 'source_rain',
        'humidity': 'source_humidity',
        'wind': 'source_wind'
    }
)

source_weather_df

                     source  source_temp  ...  source_humidity  source_wind
0                  Back Bay    39.082122  ...         0.764073     6.778528
1               Beacon Hill    39.047285  ...         0.765048     6.810325
2         Boston University    39.047744  ...         0.763786     6.692180
3                    Fenway    38.964379  ...         0.767266     6.711721
4        Financial District    39.410822  ...         0.754837     6.860019
5          Haymarket Square    39.067897  ...         0.764837     6.843193
6                 North End    39.090841  ...         0.764054     6.853117
7             North Station    39.035315  ...         0.765545     6.835755
8   Northeastern University    38.975086  ...         0.767648     6.749426
9             South Station    39.394092  ...         0.755468     6.848948
10         Theatre District    38.986711  ...         0.767992     6.834302
11                 West End    38.983403  ...         0.767266     6.816233

[12 rows x 7 columns]

In [52]:
# Merging both ride and weather data frame  
destination_weather_df = avg_weather_df.rename(
    columns={
        'location': 'destination',
        'temp': 'destination_temp',
        'clouds': 'destination_clouds',
        'pressure': 'destination_pressure',
        'rain': 'destination_rain',
        'humidity': 'destination_humidity',
        'wind': 'destination_wind'
    }
)

destination_weather_df

                destination  ...  destination_wind
0                  Back Bay  ...          6.778528
1               Beacon Hill  ...          6.810325
2         Boston University  ...          6.692180
3                    Fenway  ...          6.711721
4        Financial District  ...          6.860019
5          Haymarket Square  ...          6.843193
6                 North End  ...          6.853117
7             North Station  ...          6.835755
8   Northeastern University  ...          6.749426
9             South Station  ...          6.848948
10         Theatre District  ...          6.834302
11                 West End  ...          6.816233

[12 rows x 7 columns]

In [53]:
data = rides_df\
    .merge(source_weather_df, on='source')\
    .merge(destination_weather_df, on='destination')

data

       distance cab_type  ...  destination_humidity destination_wind
0          0.44     Lyft  ...              0.765545         6.835755
1          0.44     Lyft  ...              0.765545         6.835755
2          0.44     Lyft  ...              0.765545         6.835755
3          0.44     Lyft  ...              0.765545         6.835755
4          0.44     Lyft  ...              0.765545         6.835755
...         ...      ...  ...                   ...              ...
83018      1.25     Uber  ...              0.764837         6.843193
83019      1.25     Uber  ...              0.764837         6.843193
83020      1.25     Uber  ...              0.764837         6.843193
83021      1.25     Uber  ...              0.764837         6.843193
83022      1.25     Uber  ...              0.764837         6.843193

[83023 rows x 22 columns]

# Preprocessing

In [54]:
# writing function for creating dummy variables with the help of one hot encoding 
def onehot_encode(df, column, prefix):
    df = df.copy()
    dummies = pd.get_dummies(df[column], prefix=prefix)
    df = pd.concat([df, dummies], axis=1)
    df = df.drop(column, axis=1)
    return df

In [55]:
def preprocess_inputs(df):
    df = df.copy()
    
    # Drop id column
    df = df.drop('id', axis=1)
    
    # Binary encode cab_type column
    df['cab_type'] = df['cab_type'].replace({'Lyft': 0, 'Uber': 1})
    
    # One-hot encode remaining categorical columns
    for column, prefix in [('destination', "dest"), ('source', "src"), ('product_id', "pid"), ('name', "nm")]:
        df = onehot_encode(df, column=column, prefix=prefix)
    
    # Split df into X and y
    y = df['price']
    X = df.drop('price', axis=1)
    
    # Train-test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state=1)
    
    # Scale X
    scaler = StandardScaler()
    scaler.fit(X_train)
    
    X_train = pd.DataFrame(scaler.transform(X_train), columns=X.columns)
    X_test = pd.DataFrame(scaler.transform(X_test), columns=X.columns)
    
    return X_train, X_test, y_train, y_test

In [56]:
# splitting our data into test and train 
X_train, X_test, y_train, y_test = preprocess_inputs(data)

In [57]:
X_train

       distance  cab_type  time_stamp  ...  nm_UberX  nm_UberXL    nm_WAV
0     -0.272695  0.982668   -0.472924  ... -0.306174  -0.301002 -0.305602
1     -1.527505 -1.017638    1.383728  ... -0.306174  -0.301002 -0.305602
2      0.087076  0.982668    1.555817  ... -0.306174   3.322241 -0.305602
3     -0.834288 -1.017638    1.273494  ... -0.306174  -0.301002 -0.305602
4     -1.044886 -1.017638   -1.089913  ... -0.306174  -0.301002 -0.305602
...         ...       ...         ...  ...       ...        ...       ...
58111 -0.895713 -1.017638   -0.923765  ... -0.306174  -0.301002 -0.305602
58112 -1.413432 -1.017638   -0.350933  ... -0.306174  -0.301002 -0.305602
58113 -0.992237 -1.017638   -0.855837  ... -0.306174  -0.301002 -0.305602
58114  0.157275  0.982668   -0.971234  ... -0.306174  -0.301002  3.272231
58115 -1.290583 -1.017638   -0.406704  ... -0.306174  -0.301002 -0.305602

[58116 rows x 64 columns]

In [58]:
y_train

21703    19.5
75102     9.0
28265    27.0
13485    16.5
82964    26.0
         ...
21440    13.5
73349    16.5
50057     3.5
5192      9.0
77708     9.0
Name: price, Length: 58116, dtype: float64

# Training

In [60]:
# creating a model and fitting our traing data 
# checking accuracy of our model 
model = LinearRegression()
model.fit(X_train, y_train)

print("Test R^2 Score: {:.5f}".format(model.score(X_test, y_test)))

Test R^2 Score: 0.92708